*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
}

html,
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

.modal-active {
  overflow: hidden;
}

a {
  text-decoration: none;
  border: none;
}

:root {
  --BGCOLOR: #0d1226;
  --ACCENT: #88e6d0;
  --OFFWHITE: #e7e7e7;
}

.container {
  background-color: var(--BGCOLOR);
  min-height: 100vh;
}

.main_container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

.navbar {
  display: flex;
  opacity: 0;
  height: 130px;
  animation-name: fadeDown;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

/* CONTACT BUTTON ANIMATION */
.btn {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  background: transparent;
  border: 2px solid rgba(136, 230, 208, 0.2);
  border-radius: 5px;
  transition: all 0.2s linear;
}

.btn:hover {
  background-color: rgba(136, 230, 208, 0.1);
}

.navbar > * {
  flex: 1;
}

@keyframes fadeDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.nav_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.navbar img {
  width: 45%;
  height: auto;
  margin-top: 2rem;
  margin-left: 2rem;
}

.nav_btn {
  position: relative;
  color: var(--OFFWHITE);
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_button button {
  position: relative;
  color: var(--ACCENT);
  text-decoration: none;
  background-color: transparent;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 5rem;
  cursor: pointer;
}

.nav_btn::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--ACCENT);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav_btn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.landing_container {
  justify-self: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 15rem;
}

.landing_text {
  width: 60%;
}

.landing_text hr {
  border: 1px solid transparent;
  margin: 0;
  margin-top: 0.5rem;
  animation-name: lineAnimation;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 4.2s;
  animation-fill-mode: forwards;
}

@keyframes lineAnimation {
  0% {
    width: 0%;
    border: 1px solid var(--ACCENT);
  }
  100% {
    width: 50%;
    border: 1px solid var(--ACCENT);
  }
}

.landing_text p {
  color: var(--OFFWHITE);
}

.desc_header {
  font-size: 45px;
  font-weight: 500;
  margin: 0;
}

.landing_text .landing_desc {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  font-size: 18px;
  width: 60%;
  animation-name: fadeUp;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.landing_name {
  color: var(--ACCENT);
}

.ending_text {
  color: var(--ACCENT);
}

.landing_btn {
  font-family: "Raleway", sans-serif;
  border: none;
  background-color: var(--ACCENT);
  padding: 0.5rem 1rem;
  color: var(--BGCOLOR);
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

#Layer_1 {
  width: 15%;
}

/* 
*
* ABOUT SECTION
*
*/

.about_container {
  color: var(--BGCOLOR);
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  align-items: center;
}

.about_container p {
  margin: 0;
}

.about_header p {
  margin-top: 2rem;
  font-size: 36px;
  font-weight: 600;
}

.about_header hr {
  border: 1px solid var(--ACCENT);
  margin: 0;
  margin-bottom: 4rem;
}

.about_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.about_me {
  margin-left: 1.5rem;
  width: 60%;
}

.about_me p:first-child {
  font-size: 24px;
  font-weight: 600;
}

.about_me p {
  font-size: 16px;
  margin: 0.3rem 0;
}

.about_content img {
  width: 15%;
  height: auto;
}

.about_content hr {
  border: 1px solid var(--ACCENT);
  margin: 0;
  margin-bottom: 1rem;
}

.soft_skills_header {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-top: 2rem;
}

.soft_skills_header hr {
  border: 1px solid var(--ACCENT);
  margin: 0;
  margin-bottom: 2rem;
}

.about_badges {
  display: flex;
  justify-content: center;
  margin: 0;
  gap: 2rem;
}

.badge {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 15%;
}

.badge img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.badge p {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.tech_skills_header {
  font-size: 36px;
  font-weight: 600;
  margin-top: 2rem;
}

.tech_skills_header hr {
  border: 1px solid var(--ACCENT);
  margin: 0;
  margin-bottom: 2rem;
}

.tech_skills_container td {
  padding: 1rem;
  font-weight: 600;
}

.tech_skills_container tr {
  letter-spacing: 0.15em;
}

.tech_divider {
  color: var(--ACCENT);
  font-weight: 700;
}

/* 
*
* EXPERIENCE SECTION
*
*/

.experience_container {
  background-color: var(--BGCOLOR);
  color: var(--OFFWHITE);
  display: flex;
  flex-flow: column;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.experience_header {
  font-size: 36px;
  font-weight: 600;
  position: relative;
}

.experience_header p {
  margin: 0;
}

.experience_header hr {
  border: 1px solid var(--ACCENT);
  margin: 0;
}

.experience_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.experience_content p {
  margin: 0;
}

.company_list {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin-right: 1rem;
}

.company_list button {
  border: none;
  background-color: transparent;
  color: var(--OFFWHITE);
  font-size: 28px;
  font-weight: 500;
  text-align: right;
  cursor: pointer;
}

.company_desc {
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-left: 3px solid var(--ACCENT);
  padding-left: 1rem;
  width: 60%;
  animation: fadeIn 0.5s ease-in-out;
  height: 265px;
}

.company_header {
  font-size: 24px;
  font-weight: 600;
}

.work_desc {
  margin-top: 1rem;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.work_desc p {
  font-size: 16px;
}

.technology_stack {
  display: flex;
  gap: 1rem;
}

.technology_stack p {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: var(--ACCENT);
  font-size: 20px;
  font-weight: 500;
}

.company_list .exp_active {
  color: var(--ACCENT);
  transition: all 0.5s linear;
}

/* 
*
* PROJECT SECTION
*
*/

.project_container {
  background-color: var(--BGCOLOR);
  color: var(--OFFWHITE);
  display: flex;
  flex-flow: column;
  min-height: 60vh;
  align-items: center;
  /* justify-content: center; */
}

.project_header {
  font-size: 36px;
  font-weight: 600;
}

.project_header p {
  margin: 0;
}

.project_header hr {
  border: 1px solid var(--ACCENT);
  margin: 0;
  margin-bottom: 4rem;
}

.project_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.project_details hr {
  border: 1px solid var(--ACCENT);
  margin: 0;
}

.project_details {
  width: 30%;
}

.project_details p {
  margin-top: 0.5rem;
}

.project_description {
  font-size: 20px;
  margin-bottom: 0.2rem;
}

.project_btn {
  font-family: "Raleway", sans-serif;
  margin: 1rem 1rem 0 0;
  border: 2px solid rgba(136, 230, 208, 0.2);
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: var(--ACCENT);
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.project_btn:hover {
  background-color: rgba(136, 230, 208, 0.1);
}

/* 
*
* CONTACT SECTION
*
*/

.contact_container {
  background-color: var(--BGCOLOR);
  color: var(--OFFWHITE);
  display: flex;
  flex-flow: column;
  min-height: 30vh;
  align-items: center;
}

.contact_header {
  font-size: 36px;
  font-weight: 600;
}

.contact_header p {
  margin: 0;
}

.contact_header hr {
  border: 1px solid var(--ACCENT);
  margin: 0;
}

.contact_desc {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.contact_desc p {
  font-size: 20px;
  width: 50%;
  text-align: center;
}

/* 
*
* STICKY HEADER
*
*/

.sticky_header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sticky_nav_btns {
  display: flex;
  align-items: center;
  gap: 36px;
  background-color: var(--BGCOLOR);
  justify-content: center;
  padding: 1rem;
  border-bottom: 2px solid var(--ACCENT);
}

.sticky_nav_btn {
  color: var(--OFFWHITE);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.sticky_nav_btn:hover {
  color: var(--ACCENT);
}

.active {
  color: var(--ACCENT);
  border-bottom: 1px solid var(--ACCENT);
}

/* 
*
* FOOTER
*
*/

.footer_container {
  background-color: var(--BGCOLOR);
  color: var(--OFFWHITE);
  display: flex;
  min-height: 130px;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.footer_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--ACCENT);
  border-bottom: 2px solid var(--ACCENT);
  width: 85%;
  height: 130px;
}

.footer_box .signature_img {
  height: auto;
  display: flex;
  justify-content: center;
}

.footer_box .signature_img img {
  width: 50%;
}

.footer_link_container button {
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  color: var(--OFFWHITE);
  letter-spacing: 1px;
  margin: 0 2rem;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.footer_link_container a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--OFFWHITE);
  letter-spacing: 1px;
  margin: 0 2rem;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

/* 
*
* ARROW ANIMATION
*
*/

.scroll_div {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 5%;
}

@keyframes occasional-arrow-bounce {
  0% {
    transform: translateY(0);
  }
  79% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-4px);
  }
}

.scroll_div a:after {
  color: var(--ACCENT);
  content: "\02193";
  font-size: 40px;
  position: absolute;
  margin-top: 35px;
  left: 50%;
  margin-left: -10px;
  animation: occasional-arrow-bounce 3s infinite 2s alternate ease-out;
}

.circle {
  height: 124px;
  width: 124px;
}

.background {
  fill: transparent;
  stroke: rgba(136, 230, 208, 0.4);
  transition: all 200ms ease;
}

.foreground {
  fill: transparent;
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
  stroke: var(--ACCENT);
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  transition: all 800ms ease;
}

.scroll_div a:hover .foreground {
  stroke-dashoffset: 0;
  transform: rotate(90deg);
}

@keyframes arrow-bounce {
  0% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-4px);
  }
}

.scroll_div a:after {
  animation: arrow-bounce 0.5s infinite alternate ease-out;
}

.scroll_div a:hover:after {
  animation: arrow-bounce 0.5s infinite alternate ease-out;
}

/* Scroll Bar */

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.to_top_btn {
  background-color: #88e6d0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  animation: 0.3s ease-in-out fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.loading_page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--BGCOLOR);
  z-index: 2;
  animation: 3s ease-in-out fadeOut;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.loading_page p {
  font-size: 60px;
  letter-spacing: 1px;
  font-weight: 400;
}

.loading_name {
  color: var(--ACCENT);
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

.loading_title {
  color: var(--OFFWHITE);
  opacity: 0%;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeInLoading {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    color: var(--ACCENT);
  }
}

/* Modal Contact */
#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 7;
}
#modal-container.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal-background {
  display: flex;
  min-height: 100vh;
  min-width: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  background: var(--BGCOLOR);
  padding: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
  min-width: 100vh;
  min-height: 70vh;
}

.modal_text {
  color: var(--OFFWHITE);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex: 2;
}

.modal p:first-child {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.modal_email {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
}

.modal_links a {
  color: var(--ACCENT);
  font-size: 20px;
  font-weight: 500;
  margin: 0 1rem;
  border: 2px solid rgba(136, 230, 208, 0.2);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: all 0.2s linear;
}

.modal_links a:hover {
  background-color: rgba(136, 230, 208, 0.1);
}

.modal svg {
  position: absolute;
  bottom: 0;
  right: 0;
}

.modal svg polygon {
  fill: var(--ACCENT);
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
